<div class="container center">
  <div class="row" id="first-row">
    <div class="col-sm" *ngFor="let site of siteListFirstRow">
      <div class="view overlay zoom table-icon">
        <a href="{{ site.websiteURL }}" target="_blank">
          <img src="{{ site.iconPath }}" class="img-fluid " />
          <div class="mask flex-center">
            <p class="black-text">{{ site.name }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" id="second-row">
    <div class="col-sm" *ngFor="let site of siteListSecondRow">
      <div class="view overlay zoom table-icon">
        <a href="{{ site.websiteURL }}" target="_blank">
          <img src="{{ site.iconPath }}" class="img-fluid " />
          <div class="mask flex-center">
            <p class="black-text">{{ site.name }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" id="third-row">
    <div class="col-sm" *ngFor="let site of siteListThirdRow">
      <div class="view overlay zoom table-icon">
        <a href="{{ site.websiteURL }}" target="_blank">
          <img src="{{ site.iconPath }}" class="img-fluid " />
          <div class="mask flex-center">
            <p class="black-text">{{ site.name }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
