<div class="container center">
  <div class="row" id="first-row">
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" id="second-row">
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" id="third-row">
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="view overlay zoom table-icon">
        <a class="white-text" href="https://www.facebook.com" target="_blank">
          <img
            src="../../assets/table-icons/facebook.png"
            class="img-fluid "
            alt="smaple image"
          />
          <div class="mask flex-center">
            <p class="white-text">Facebook</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
