


  <div class="container center" >
  <form id="search-form" action="//www.google.com" target="_blank" class="center">
    <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
          <svg-icon class="input-group-text" src="assets/google.svg" [svgStyle]="{ 'width.px':20}"></svg-icon>Google
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <input type="text" id="searchword" name="word" size="40" class="input2"> 
    <input type="submit" class="btn btn-primary" id="b-btn" value="Go!">
</form>
</div>  


