.dropbtn {
  background-color: rgb(140, 142, 148);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 50px 5px 5px 50px;
  height: 40px;
  padding-top: 7px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: rgb(230, 242, 247);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(140, 142, 148);
  cursor: default;
}

#submit-button {
  border-radius: 5px 50px 50px 5px;
  background-color: rgb(140, 142, 148);
  width: 90px;
  border: none;
  height: 40px;
  font-family: cursive;
  padding-bottom: 1px;
  color: #ffffff;
  cursor: pointer;
}

#searchword {
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  border-color: none;
  padding-left: 33px;
  background-color: rgb(214, 230, 241);
  outline: none;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 5px;
  width: 20px;
  background: url("../../assets/search_icon.svg") center / contain no-repeat;
}
