<div class="container center" >
  <form id="search-form" action={{formAction}} method="get" target="_blank" class="center">
    <div class="dropdown">
      <div class="dropbtn">
        <svg-icon class="svg-icon" src={{iconPath}} [svgStyle]="{'width.px':20}"></svg-icon>
        {{defaultOption}}
      </div>
      <div class="dropdown-content">
        <div (click)="clicGoogle()">
          <svg-icon class="svg-icon" src='assets/google.svg'[svgStyle]="{'width.px':20}"></svg-icon>
          Google
        </div>
        <div (click)="clickYoutube()">
          <svg-icon class="svg-icon" src='assets/youtube.svg'[svgStyle]="{'width.px':20}"></svg-icon>
          Youtube
        </div>
        <div (click)="clickAmazon()">
          <svg-icon class="svg-icon" src='assets/amazon.svg'[svgStyle]="{'width.px':20}"></svg-icon>
          Amazon
        </div>
      </div>
    </div>
    <label>
      <input type="text" id="searchword" name={{inputName}}>
    </label>
    <input type="submit" class="btn btn-primary" id="submit-button" value="Go!">
</form>
</div>


